.task {
  color: #000;
  background-color: #fff;
  /* max-width: 25rem; */
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
}
.task p {
  margin: 0;
}

.task-complete {
  text-decoration: line-through;
}

.task-notcomplete {
  text-decoration: none;
}

.task:last-of-type {
  margin-bottom: 0;
}

.taskList {
  width: 70vw;
  list-style: none;
  padding: 0;
  margin: 2rem auto;
  margin-bottom: 0;
}

.firstBtns {
  display: flex;
  gap: 6px;
}

.btns,
.btnsEdit {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: space-evenly;
}

.btnsEdit {
  margin-top: 1rem;
  flex-direction: row;
  justify-content: space-evenly;
}
.btns button,
.btnsEdit button {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid #723d71;
}
.done {
  background-color: #53ad62;
}
.delete {
  background-color: #e73f33;
}

.edit {
  background-color: #a60aeb;
}

.taskDetails p {
  font-size: 2rem;
}
.taskDetails p:last-child {
  font-size: 1.5rem;
  color: #000000d6;
}

@media only screen and (max-width: 480px) {
  .task {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
