.task_input {
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid #9752cb;
  padding: 5px;
}
.task_input:focus-within {
  outline: none;
}

.label {
  display: inline-block;
  /* min-width: 8rem; */
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

@media (max-width: 480px) {
  .task_input {
    font-size: 1.2rem;
  }
}
