.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  /* position: fixed;
  top: 20vh;
  left: 5%; */
  /* width: 90%; */
  background-color: white;
  color: #000;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 500ms ease-out forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  /* 
  z-index: 9999;
  background: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 9px 1px #813c82;
   */
}

.modal p {
  margin-top: 0;
}

.message {
  margin-top: 0;
}

.btns {
  display: flex;
  justify-content: space-around;
}

.btns button {
  color: #fff;
  font-size: 0.7rem;
  cursor: pointer;
  border: 1px solid #723d71;
}
.done {
  background-color: #53ad62;
}
.delete {
  background-color: #e73f33;
}

/* @media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
} */

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, -10rem);
  }
  to {
    opacity: 1;
    transform: translateY(-50%, -50%);
  }
}