.header {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 70vw;
  margin: 0 auto;
}
.task_input {
  font-size: 2rem;
  border: none;
  padding: 5px;
}
.task_input:focus-within {
  outline: none;
}
.addBtn {
  font-size: 2rem;
  cursor: pointer;
  /* background-color: #fff; */
  border: 1px solid #9311de85;
  padding: 3px 6px;
  /* transition: all .7s; */
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

@media (max-width: 480px) {
  .header,
  .addBtn {
    font-size: 1.2rem;
  }
}
